orjson
cn2an
coloredlogs
flatbuffers
numpy
packaging
protobuf
sympy
whl//Polygon3-3.0.9-cp311-cp311-win_amd64.whl
cnocr>=2.2.2.3
docopt
httpx
loguru
opencv_contrib_python
opencv_python
Pillow
PyAutoGUI==0.9.53
PyGetWindow
pynput
pyuac
pywin32
questionary
torch
tqdm
ultralytics
xpinyin
httpx-socks[trio]
flet
cryptography
pluggy
